
<h2>Заметки</h2>

<p>
    @Html.ActionLink("Новая заметка", "Create", "Note")
</p>

@Html.Partial("SearchBar")

@if (ViewBag.MyNotes)
{
    <input type='checkbox' id="myNotes" checked="checked" onclick='ASearchAndSort(this);'>
}
else
{
    <input type='checkbox' id="myNotes" onclick='ASearchAndSort(this);'>
}
<label for="myNotes"> Мои заметки </label>

@if (ViewBag.PNotes)
{
    <input type='checkbox' id="publishNotes" checked="checked" onclick='ASearchAndSort(this);'>
}
else
{
    <input type='checkbox' id="publishNotes" onclick='ASearchAndSort(this);'>
}
<label for="publishNotes">Опубликованные заметки </label>


@Html.Partial("List")

@*<script>
    function handleClick(cb) {
        var showMyNote = $('#myNotes')[0].checked;
        var showPublishNote = $('#publishNotes')[0].checked;
        var model = { showMyNotes: showMyNote, showPublishNotes: showPublishNote };
        $.ajax({
            url: '@Url.Action("List", "Note")',
            type: 'POST',
            cache: false,
            data: model,
            success: function (result) {
                $("#result").html(result);
            }
        });
    }
</script>*@

