<div class="form-group">
    <div class="col-md-10">
        <div class="form-inline">
            @Html.Editor("search", new { htmlAttributes = new { @id = "search", @class = "form-control" } })
            <input type="button" value="Найти" onclick="ASearchAndSort(this)" class="btn btn-default" />
        </div>
    </div>
</div>
<hr /> <hr />

